{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier", "vitest"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "plugin:vitest-globals/recommended"
  ],
  "rules": {
    "prettier/prettier": 2,
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "^_"
      }
    ]
  },
  "env": {
    "browser": true,
    "node": true,
    "vitest-globals/env": true
  }
}
